@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  font-family: poppins;

  h1 {
    // text-transform: uppercase;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}